
.header {
  width: 100%;
  padding: 20px;
  background-color: #eeeeee;
  height: 70px;
  /* display: inline-flex; */
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
